html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit
    }
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
    font-weight: bold
    }
a, p, ul, ol, li, img, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit
    }
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit
    }
applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, font, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, caption, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit
    }
article, aside, figure, footer, header, hgroup, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit
    }
canvas, details, embed, figcaption, menu, nav, output, ruby, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit
    }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
    }
body {
    line-height: 1
    }
b, strong {
    font-weight: bold
    }
em, i {
    font-style: italic
    }
ol, ul {
    list-style: none
    }
blockquote, q {
    quotes: none
    }
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none
    }
:focus {
    outline: 0
    }
ins {
    text-decoration: none
    }
del {
    text-decoration: line-through
    }
table {
    border-collapse: collapse;
    border-spacing: 0
    }
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
    position: relative;
    margin-left: 10px;
    margin-right: 10px
    }
.container-12 .block .omega-grid, .container-16 .block .omega-grid, .container-24 .block .omega-grid {
    position: relative;
    margin-left: -10px;
    margin-right: -10px
    }
.clearfix:after {
    font-size: 0
    }
#skip-link {
    left: 50%;
    margin-left: -5.25em;
    margin-top: 0;
    position: absolute;
    width: auto;
    z-index: 50
    }
#skip-link a, #skip-link a:link, #skip-link a:visited {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: block;
    padding: 1px 10px 2px 10px;
    text-decoration: none;
    -khtml-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-radius: 0 0 10px 10px
    }
#skip-link a:hover, #skip-link a:active, #skip-link a:focus {
    outline: 0
    }
.inline li, .tabs li, .breadcrumb li {
    list-style: none;
    display: inline;
    margin-right: 0.5em
    }
.item-list li {
    list-style: none
    }
.pager li {
    display: inline;
    margin-right: 0.25em
    }
img {
    vertical-align: bottom
    }
.field-label-inline .field-label, .field-label-inline .field-items, .field-label-inline .field-item {
    display: inline
    }
::-moz-focus-inner {
    border: 0;
    padding: 0
    }
input[type="search"]::-webkit-search-decoration {
    display: none
    }
input, button, select, textarea {
    margin: 0;
    vertical-align: middle
    }
button, input[type="reset"], input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-radius: 11px;
    background: #ddd url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/omega/omega/images/button.png) repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
    background: -moz-linear-gradient(top center, #fff 0, #ddd 100%);
    border: 1px solid;
    border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #333;
    font: bold 12px/1.2 Arial, sans-serif;
    outline: 0;
    overflow: visible;
    padding: 3px 10px 4px;
    text-shadow: #fff 0 1px 1px;
    width: auto
    }
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: #000;
    outline: 0;
    padding: 2px 3px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    height: 1.8em
    }
input.placeholder_text, textarea.placeholder_text, input:-moz-placeholder, textarea:-moz-placeholder {
    color: #888
    }
::-webkit-input-placeholder {
    color: #888
    }
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
    -moz-box-shadow: #06f 0 0 7px;
    -webkit-box-shadow: #06f 0 0 7px;
    box-shadow: #06f 0 0 7px;
    z-index: 1
    }
input[type="file"]:focus, input[type="file"]:active, input[type="radio"]:focus, input[type="radio"]:active, input[type="checkbox"]:focus, input[type="checkbox"]:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
    }
select[disabled], textarea[disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="email"][disabled], input[type="month"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="time"][disabled], input[type="url"][disabled], input[type="week"][disabled] {
    background-color: #eee
    }
button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #888;
    cursor: default
    }
textarea, select[size], select[multiple] {
    height: auto
    }
@media (-webkit-min-device-pixel-ratio: 0) {
    select {
        background-image: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/omega/omega/images/select-arrow.gif);
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 20px
        }
    select[size], select[multiple] {
        background-image: none;
        padding: 0
        }
    }
textarea {
    min-height: 40px;
    overflow: auto;
    resize: vertical;
    width: 100%
    }
optgroup {
    color: #000;
    font-style: normal;
    font-weight: normal
    }
.ie6-button, * html button {
    background: #ddd url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/omega/omega/images/button.png) repeat-x;
    border: 1px solid;
    border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #333;
    font: bold 12px/1.2 Arial, sans-serif;
    padding: 2px 10px 0;
    overflow: visible;
    width: auto
    }
* html button {
    padding-top: 1px;
    padding-bottom: 1px
    }
.ie6-input, * html textarea, * html select {
    background: #fff;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: #000;
    padding: 2px 3px 1px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    vertical-align: top
    }
* html select {
    margin-top: 1px
    }
.placeholder_text, .ie6-input-disabled, .ie6-button-disabled {
    color: #888
    }
.ie6-input-disabled {
    background: #eee
    }
a.cp-button-blue {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyYTRmMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDA5MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #22a4f3 0, #004093 100%);
    background: -webkit-linear-gradient(270deg, #22a4f3 0, #004093 100%);
    background: linear-gradient(-180deg, #22a4f3 0, #004093 100%);
    -moz-box-shadow: 0 3px 0 0 rgba(0, 82, 175, 0.4), inset 0 2px 1px 0 #7ee1ff;
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 82, 175, 0.4), inset 0 2px 1px 0 #7ee1ff;
    box-shadow: 0 3px 0 0 rgba(0, 82, 175, 0.4), inset 0 2px 1px 0 #7ee1ff;
    height: 65px;
    line-height: 65px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    text-decoration: none !important;
    border: 1px solid #003f72
    }
a.cp-button-blue:link, a.cp-button-blue:visited {
    color: #fff
    }
a.cp-button-blue:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDA5MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyYTRmMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #004093 0, #22a4f3 100%);
    background: -webkit-linear-gradient(270deg, #004093 0, #22a4f3 100%);
    background: linear-gradient(-180deg, #004093 0, #22a4f3 100%)
    }
#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000
    }
#modal-loading {
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 1001
    }
#modal-window {
    display: none;
    position: absolute;
    z-index: 1001
    }
#modal-video img {
    border: 8px solid #005592;
    -moz-border-radius: 8px;
    -wekit-border-radius: 8px;
    border-radius: 8px;
    background: #f00
    }
a#modal-close {
    position: absolute;
    right: -25px;
    top: -18px;
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/components/modal/btn_close.png) top left no-repeat;
    width: 44px;
    height: 44px;
    text-indent: -9999px;
    line-height: 0;
    z-index: 999
    }
a#modal-close:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05)
    }
#modal-window.modal-notification #modal-close {
    display: none
    }
#cdn-integration-page-stats {
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 10px;
    color: #fff
    }
#cdn-integration-page-stats > .item-list {
    width: 940px;
    margin: 0 10px
    }
#cdn-integration-page-stats > .item-list h3 {
    font-size: 12px;
    margin-bottom: 5px
    }
body {
    font-family: "proxima_nova_regular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #616161;
    font-size: 16px;
    line-height: 21px
    }
b, strong {
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal
    }
em, i {
    font-family: "proxima_nova_italic", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal
    }
h1, h2, h3, h4, h5, h6 {
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    letter-spacing: -0.05em;
    text-rendering: optimizelegibility
    }
h1 {
    font-size: 30px;
    line-height: 34px;
    color: #0051af;
    padding-bottom: 18px
    }
h1#page-title em {
    font-family: "proxima_nova_regular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    padding-right: 12px
    }
h2 {
    font-size: 20px;
    line-height: 20px;
    color: #616161;
    padding-bottom: 10px
    }
h2 a {
    color: #616161;
    text-decoration: none
    }
h2 a:hover {
    color: #616161;
    text-decoration: underline
    }
h3 {
    font-size: 18px
    }
h4 {
    font-size: 14px
    }
h5 {
    font-size: 12px
    }
h6 {
    font-size: 11px;
    text-transform: uppercase
    }
ul {
    padding-left: 16px;
    margin: 0
    }
ul li {
    list-style: disc outside;
    margin: 5px 0
    }
ol {
    padding-left: 16px;
    margin: 0
    }
ol li {
    list-style: decimal inside;
    margin: 5px 0
    }
.item-list ul.pager {
    color: #22a4f3;
    font-size: 16px;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: right
    }
.item-list ul.pager li {
    -moz-kit-border-radius: 4px;
    -web-kit-border-radius: 4px;
    border-radius: 4px;
    margin: 5px 2px;
    padding: 8px 0
    }
.item-list ul.pager li a {
    color: #22a4f3;
    text-decoration: none;
    display: inline-block;
    -moz-kit-border-radius: 4px;
    -web-kit-border-radius: 4px;
    border-radius: 4px;
    padding: 8px
    }
.item-list ul.pager li a:link, .item-list ul.pager li a:visited {
    color: #22a4f3;
    text-decoration: none
    }
.item-list ul.pager li a:hover, .item-list ul.pager li a:focus {
    text-decoration: none
    }
.item-list ul.pager li:hover {
    background: #eee
    }
.item-list ul.pager li.pager-current {
    background: #eee;
    padding: 8px
    }
.item-list ul.pager li.pager-next, .item-list ul.pager li.pager-all {
    background: #eee;
    margin: 5px
    }
.item-list ul.pager li.pager-ellipsis:hover {
    background: 0
    }
.more-link {
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px
    }
.more-link a {
    color: #00adef;
    text-decoration: none
    }
.more-link a:link, .more-link a:visited {
    color: #00adef;
    text-decoration: none
    }
.more-link a:hover, .more-link a:focus {
    color: #0051af;
    text-decoration: none
    }
#cboxOverlay {
    opacity: 0.6 !important;
    background: black
    }
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: visible
    }
#colorbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: visible;
    padding: 0
    }
#cboxContent {
    background: white;
    overflow: visible;
    font-family: "proxima_nova_regular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px
    }
#cboxClose {
    position: absolute;
    top: 4px;
    right: 0;
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/sprite.png) 0 -490px no-repeat;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    display: none
    }
#cboxTopLeft {
    width: 0;
    height: 0
    }
#cboxTopCenter {
    height: 0
    }
#cboxTopRight {
    width: 0;
    height: 0
    }
#cboxMiddleLeft {
    width: 0
    }
#cboxMiddleRight {
    width: 0
    }
#cboxLoadedContent {
    margin-bottom: 0
    }
#cboxWrapper {
    background: transparent;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(http://web.archive.org/web/20160725223621im_/http://clubpenguinimg-a.akamaihd.net/sites/default/files/fc_http/sites/default/themes/club_penguin/css/pie/PIE.htc)
    }
#cboxContent {
    background: transparent;
    overflow: visible;
    font-family: "proxima_nova_regular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #fff
    }
#cboxLoadedContent {
    background: #22a4f3;
    border: 4px solid #21c0f0;
    margin: 22px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url(http://web.archive.org/web/20160725223621im_/http://clubpenguinimg-a.akamaihd.net/sites/default/files/fc_http/sites/default/themes/club_penguin/css/pie/PIE.htc);
    overflow: hidden
    }
#cboxLoadedContent h2 {
    color: #fff;
    background: #018ae4;
    padding: 15px 20px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px
    }
#cboxLoadedContent .download_link, #cboxLoadedContent .download_text {
    padding: 15px 0;
    text-align: center;
    display: block;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px
    }
#cboxLoadedContent .download_link .button, #cboxLoadedContent .download_text .button {
    margin: 0 0 0 20px
    }
#cboxPrevious {
    position: absolute;
    bottom: 43%;
    left: 40px;
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/sprite.png) -47px -550px no-repeat;
    width: 22px;
    height: 50px;
    text-indent: -9999px
    }
#cboxNext {
    position: absolute;
    bottom: 43%;
    left: auto;
    right: 30px;
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/sprite.png) -47px -490px no-repeat;
    width: 22px;
    height: 50px;
    text-indent: -9999px
    }
#cboxCurrent {
    display: none !important
    }
.hidden-item {
    display: none
    }
a.cp-button-secondary {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZjJmNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #fefeff), color-stop(100%, #eef2f4));
    background-image: -moz-linear-gradient(#fefeff, #eef2f4);
    background-image: -webkit-linear-gradient(#fefeff, #eef2f4);
    background-image: linear-gradient(#fefeff, #eef2f4);
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
    color: #22a4f3;
    font-size: 16px;
    text-decoration: none !important;
    border: 1px solid #d5dde1;
    border-width: 1px 1px 3px
    }
a.cp-button-secondary:hover {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjlmYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #f8f9fb), color-stop(100%, #fdfdfe));
    background-image: -moz-linear-gradient(#f8f9fb, #fdfdfe);
    background-image: -webkit-linear-gradient(#f8f9fb, #fdfdfe);
    background-image: linear-gradient(#f8f9fb, #fdfdfe);
    color: #22a4f3
    }
a.cp-button-play-feature {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center 0, url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTk5MSIvPjxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjZmZkYzRmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZjYzAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center 0, -moz-linear-gradient(270deg, #ffe991 0, #ffdc4f 10%, #fc0 100%);
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center 0, -webkit-linear-gradient(270deg, #ffe991 0, #ffdc4f 10%, #fc0 100%);
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center 0, linear-gradient(-180deg, #ffe991 0, #ffdc4f 10%, #fc0 100%);
    -moz-box-shadow: #b89300 0 4px 0, rgba(0, 0, 0, 0.2) 0 6px 0;
    -webkit-box-shadow: #b89300 0 4px 0, rgba(0, 0, 0, 0.2) 0 6px 0;
    box-shadow: #b89300 0 4px 0, rgba(0, 0, 0, 0.2) 0 6px 0;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 24px;
    color: #6e4e00;
    text-decoration: none !important;
    border: 2px solid #ffe991
    }
a.cp-button-play-feature:hover {
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center -100px, url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTk5MSIvPjxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjZmZkYzRmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZjYzAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center -100px, -moz-linear-gradient(90deg, #ffe991 0, #ffdc4f 10%, #fc0 100%);
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center -100px, -webkit-linear-gradient(90deg, #ffe991 0, #ffdc4f 10%, #fc0 100%);
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center -100px, linear-gradient(0deg, #ffe991 0, #ffdc4f 10%, #fc0 100%);
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 0;
    margin-top: 4px
    }
a.cp-button-play {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center 0, url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTQ3NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center 0, -moz-linear-gradient(270deg, #ffe477 0, #fc0 100%);
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center 0, -webkit-linear-gradient(270deg, #ffe477 0, #fc0 100%);
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center 0, linear-gradient(-180deg, #ffe477 0, #fc0 100%);
    -moz-box-shadow: #fff7d7 0 2px 0 0 inset, rgba(0, 0, 0, 0.15) 0 3px 0;
    -webkit-box-shadow: #fff7d7 0 2px 0 0 inset, rgba(0, 0, 0, 0.15) 0 3px 0;
    box-shadow: #fff7d7 0 2px 0 0 inset, rgba(0, 0, 0, 0.15) 0 3px 0;
    height: 55px;
    line-height: 55px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 24px;
    color: #6e4e00;
    text-decoration: none !important;
    text-shadow: #fff 0 1px 0;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
    border: 1px solid #ff9d00
    }
a.cp-button-play:link, a.cp-button-play:visited {
    color: #6e4e00
    }
a.cp-button-play:hover {
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center -100px, url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTQ3NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center -100px, -moz-linear-gradient(90deg, #ffe477 0, #fc0 100%);
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center -100px, -webkit-linear-gradient(90deg, #ffe477 0, #fc0 100%);
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/club_penguin/img/common/button-shine-play.png) no-repeat center -100px, linear-gradient(0deg, #ffe477 0, #fc0 100%)
    }
a.cp-button-yellow {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTQ3NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #ffe477 0, #fc0 100%);
    background: -webkit-linear-gradient(270deg, #ffe477 0, #fc0 100%);
    background: linear-gradient(-180deg, #ffe477 0, #fc0 100%);
    -moz-box-shadow: #fff7d7 0 2px 0 0 inset, rgba(0, 0, 0, 0.15) 0 3px 0;
    -webkit-box-shadow: #fff7d7 0 2px 0 0 inset, rgba(0, 0, 0, 0.15) 0 3px 0;
    box-shadow: #fff7d7 0 2px 0 0 inset, rgba(0, 0, 0, 0.15) 0 3px 0;
    height: 55px;
    line-height: 55px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 24px;
    color: #6e4e00;
    text-decoration: none !important;
    text-shadow: #fff 0 1px 0;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
    border: 1px solid #604e3f
    }
a.cp-button-yellow:link, a.cp-button-yellow:visited {
    color: #6e4e00
    }
a.cp-button-yellow:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTQ3NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmY2MwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(90deg, #ffe477 0, #fc0 100%);
    background: -webkit-linear-gradient(90deg, #ffe477 0, #fc0 100%);
    background: linear-gradient(0deg, #ffe477 0, #fc0 100%)
    }
a.cp-button-blue {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyYTRmMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDA5MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #22a4f3 0, #004093 100%);
    background: -webkit-linear-gradient(270deg, #22a4f3 0, #004093 100%);
    background: linear-gradient(-180deg, #22a4f3 0, #004093 100%);
    -moz-box-shadow: 0 3px 0 0 rgba(0, 82, 175, 0.4), inset 0 2px 0 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 82, 175, 0.4), inset 0 2px 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 3px 0 0 rgba(0, 82, 175, 0.4), inset 0 2px 0 0 rgba(255, 255, 255, 0.4);
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    text-decoration: none !important;
    border: 1px solid #003f72
    }
a.cp-button-blue:link, a.cp-button-blue:visited {
    color: #fff
    }
a.cp-button-blue:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDA5MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyYTRmMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #004093 0, #22a4f3 100%);
    background: -webkit-linear-gradient(270deg, #004093 0, #22a4f3 100%);
    background: linear-gradient(-180deg, #004093 0, #22a4f3 100%)
    }
a.cp-button-dark-blue {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNmFiZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDA5MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #006abd 0, #004093 100%);
    background: -webkit-linear-gradient(270deg, #006abd 0, #004093 100%);
    background: linear-gradient(-180deg, #006abd 0, #004093 100%);
    -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 rgba(126, 225, 255, 0.4);
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 rgba(126, 225, 255, 0.4);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 rgba(126, 225, 255, 0.4);
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    text-decoration: none !important;
    border: 1px solid #003f72
    }
a.cp-button-dark-blue:link, a.cp-button-dark-blue:visited {
    color: #fff
    }
a.cp-button-dark-blue:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDA5MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNmFiZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #004093 0, #006abd 100%);
    background: -webkit-linear-gradient(270deg, #004093 0, #006abd 100%);
    background: linear-gradient(-180deg, #004093 0, #006abd 100%)
    }
a.cp-button-green {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlZDIwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVkYjEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #6ed200 0, #5db100 100%);
    background: -webkit-linear-gradient(270deg, #6ed200 0, #5db100 100%);
    background: linear-gradient(-180deg, #6ed200 0, #5db100 100%);
    -moz-box-shadow: 0 3px 0 0 rgba(0, 62, 113, 0.3), inset 0 1px 1px 0 #ccff7d;
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 62, 113, 0.3), inset 0 1px 1px 0 #ccff7d;
    box-shadow: 0 3px 0 0 rgba(0, 62, 113, 0.3), inset 0 1px 1px 0 #ccff7d;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    border: 1px solid;
    border-color: #003f72;
    border-color: rgba(0, 63, 114, 0.8);
    transition: all 200ms ease
    }
a.cp-button-green:link, a.cp-button-green:visited {
    color: #fff
    }
a.cp-button-green:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkYjEwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZlZDIwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #5db100 0, #6ed200 100%);
    background: -webkit-linear-gradient(270deg, #5db100 0, #6ed200 100%);
    background: linear-gradient(-180deg, #5db100 0, #6ed200 100%)
    }
a.cp-button-flat {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    border: 1px solid;
    border-color: #003f72;
    border-color: rgba(0, 63, 114, 0.8);
    transition: all 200ms ease
    }
a.cp-button-flat:hover {
    background-color: #003f72;
    background-color: rgba(0, 63, 114, 0.8)
    }
#notification-area .notification-message {
    overflow: hidden;
    padding: 10px 18px;
    min-height: 60px;
    border-bottom: 1px solid #b7eeff;
    box-sizing: border-box
    }
#notification-area .notification-message p {
    margin: 0;
    padding: 0;
    line-height: 1.2
    }
#notification-area .notification-message .button-wrap {
    float: right;
    box-sizing: border-box
    }
#notification-area .notification-message .button-wrap a {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNmFiZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDA5MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #006abd 0, #004093 100%);
    background: -webkit-linear-gradient(270deg, #006abd 0, #004093 100%);
    background: linear-gradient(-180deg, #006abd 0, #004093 100%);
    -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 rgba(126, 225, 255, 0.4);
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 rgba(126, 225, 255, 0.4);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), inset 0 1px 1px 0 rgba(126, 225, 255, 0.4);
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    text-decoration: none !important;
    border: 1px solid #003f72;
    height: 40px;
    width: auto;
    padding: 0 30px;
    line-height: 40px;
    font-size: 15px;
    text-shadow: none
    }
#notification-area .notification-message .button-wrap a:link, #notification-area .notification-message .button-wrap a:visited {
    color: #fff
    }
#notification-area .notification-message .button-wrap a:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDA5MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNmFiZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-linear-gradient(270deg, #004093 0, #006abd 100%);
    background: -webkit-linear-gradient(270deg, #004093 0, #006abd 100%);
    background: linear-gradient(-180deg, #004093 0, #006abd 100%)
    }
#notification-area .notification-message .block-content-wrap {
    float: left;
    width: 80%;
    padding-top: 5px;
    box-sizing: border-box
    }
#notification-area .rude-sunset {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjYwJSIgY3k9IjQwJSIgcj0iNjAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhY2Q1OCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5OGEzMCIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -moz-radial-gradient(60% 40%, #facd58 0, #f98a30 600px);
    background: -webkit-radial-gradient(60% 40%, #facd58 0, #f98a30 600px);
    background: radial-gradient(60% 40%, #facd58 0, #f98a30 600px);
    color: #003e71;
    font-size: 14px;
    text-align: center
    }
html {
    height: 100%;
    background-color: #22a4f3
    }
body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    color: white;
    font-family: "proxima_nova_regular", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #22a4f3
    }
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em
    }
a {
    color: white;
    text-decoration: none;
    border-radius: 7px
    }
p {
    margin: 0 auto
    }
img {
    display: block;
    margin: 0 auto;
    background: transparent;
    border-radius: 4px
    }
#page {
    height: 100%
    }
#notification-area .notification-message {
    border: 0
    }
#notification-area .notification-message .responsive-block-inner {
    width: 980px;
    margin: 0 auto
    }
header {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto
    }
header div#affiliate-header {
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/snowball/img/pattern-bg.png) repeat center 0
    }
header div#affiliate-header a#logo {
    margin: 0 auto;
    width: 130px;
    display: block
    }
header div#affiliate-header img {
    margin: 0 auto;
    padding: 8px
    }
header nav {
    position: relative;
    vertical-align: middle;
    min-width: 880px;
    height: 50px;
    width: 980px;
    margin: 0 auto;
    padding-top: 10px;
    box-sizing: border-box
    }
header nav #language-select {
    position: absolute;
    right: 150px;
    z-index: 1;
    display: inline-block;
    width: 200px
    }
header nav #language-select a {
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    display: block;
    text-align: left;
    color: #0052af;
    font-size: 15px
    }
header nav #language-select a:hover {
    color: #0052af;
    background-color: #d3edfd;
    text-decoration: none
    }
header nav #language-select a.top-level {
    background-color: #008ce1;
    width: 185px;
    height: 26px;
    line-height: 26px;
    padding-left: 15px;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
    }
header nav #language-select a.top-level span.indicator {
    float: right;
    width: 5px;
    height: 26px;
    margin: 0;
    padding: 0 12px;
    background-color: #007ad2;
    background-image: url(../../images/language-arrow.png);
    background-repeat: no-repeat;
    background-position: -13px 8px;
    vertical-align: middle;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0
    }
header nav #language-select a.top-level.active {
    padding-left: 20px;
    color: #0052af;
    background-color: #fff;
    background-image: none;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 2px solid #0052af;
    border-width: 2px 2px 0 2px
    }
header nav #language-select a.top-level.active span.indicator {
    height: 8px;
    margin: 13px 12px 0 0;
    padding: 2px;
    background-color: transparent;
    background-position: -1196px -295px
    }
header nav #language-select #bottom-languages {
    display: none;
    z-index: 10;
    width: 185px;
    padding: 0 10px 20px 10px;
    background-color: #fff;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border: 2px solid #0052af;
    border-width: 0 2px 2px 2px
    }
header nav #language-select #bottom-languages a {
    padding: 5px 10px;
    text-transform: uppercase;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
    }
header nav #language-select #bottom-languages a:hover {
    color: #0052af;
    outline-width: 0;
    background-color: #d3edfd;
    background-position: 5px -35px
    }
header nav ul {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 20px;
    list-style-type: none
    }
header nav ul.mainnav {
    display: block;
    float: left;
    margin-top: -1px;
    background: url(../../images/gt.png) no-repeat 0 center
    }
header nav ul.mainnav a {
    transition: all ease 300ms;
    border-radius: 0
    }
header nav ul.mainnav a:hover {
    color: #fc0;
    border-bottom: 3px solid #fc0;
    text-decoration: none
    }
header nav ul li {
    display: inline-block;
    margin: 0 10px 0 0
    }
header nav ul li:last-child {
    margin-right: 0
    }
header nav ul.navbar-right {
    position: absolute;
    right: 0
    }
header nav ul.navbar-right li {
    margin-right: 0 !important
    }
header nav a {
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: white;
    font-size: 15px
    }
header nav a#home-link {
    background: url(../../images/icon-home.png) no-repeat 0 0;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 11px;
    text-indent: -555em
    }
header nav a img {
    margin-right: 10px
    }
header nav a.logout {
    display: none;
    padding: 0 20px 0 10px;
    color: white;
    background-color: #117bd1;
    border-radius: 5px;
    line-height: 26px
    }
header nav a.logout:hover {
    background-color: #0052af
    }
header nav img {
    display: inline-block;
    vertical-align: middle
    }
header nav img#home-img {
    margin-right: 10px
    }
header nav section.language {
    position: relative;
    left: 50px;
    display: inline-block
    }
header #banner {
    position: relative;
    vertical-align: middle;
    display: none;
    height: 47px;
    padding-left: 15px;
    margin: 0 auto;
    width: 980px;
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/snowball/img/banner.png) no-repeat 0 0;
    background-size: 100% 47px;
    line-height: 47px
    }
header #banner span strong {
    font-size: 18px
    }
header #banner a {
    position: absolute;
    right: 0;
    padding: 0 75px;
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/snowball/img/membership-button.png) no-repeat 0 5px;
    background-size: 97%;
    color: #6a4e27
    }
main {
    display: inline
    }
main #error {
    position: relative;
    left: 50%;
    margin: 0 0 0 -378px;
    width: 760px;
    height: 480px;
    background-image: url(http://web.archive.org/web/20160725223621im_/http://media1.clubpenguin.com/play/upgrade/images/expressInstall.png)
    }
main #error .errorText {
    position: relative;
    top: 100px;
    left: 320px;
    width: 330px
    }
main #error h1 {
    margin-bottom: 20px;
    font-size: 18px
    }
main #error span {
    margin-bottom: 10px;
    color: #222;
    font-size: 14px;
    line-height: 1.3
    }
main #error span a {
    color: #00adef
    }
main #error a#ignore-button, main #error a#upgrade-button {
    position: absolute;
    top: 365px;
    cursor: pointer
    }
main #error a#ignore-button {
    left: 95px
    }
main #error a#upgrade-button {
    left: 405px
    }
main #ingame-error {
    position: absolute;
    top: 20%;
    left: 40%;
    margin: 0 auto;
    width: 354px;
    height: 220px;
    z-index: 160;
    background: url(http://web.archive.org/web/20160725223621im_/http://media1.clubpenguin.com/play/images/prompt_no_button.png) 0 0 no-repeat
    }
main #ingame-error .errorText {
    position: absolute;
    top: 40px;
    left: 27px;
    width: 300px;
    height: 60px;
    line-height: 20px;
    text-align: center;
    color: black;
    font-size: 20px
    }
main #ingame-error #ok-button {
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    position: absolute;
    top: 133px;
    left: 96px;
    width: 159px;
    height: 52px;
    background: url(http://web.archive.org/web/20160725223621im_/http://media1.clubpenguin.com/play/images/prompt_button_up.png) 0 0 no-repeat;
    border: 0;
    line-height: 52px;
    text-align: center;
    color: white;
    font-size: 22px;
    text-decoration: none;
    outline: 0
    }
main #ingame-error #ok-button:hover {
    background-image: url(http://web.archive.org/web/20160725223621im_/http://media1.clubpenguin.com/play/images/prompt_button_over.png)
    }
main #ingame-error #ok-button:active {
    background-image: url(http://web.archive.org/web/20160725223621im_/http://media1.clubpenguin.com/play/images/prompt_button_down.png)
    }
main section#D_F_GameSection {
    height: 93%;
    min-height: 550px;
    min-width: 800px
    }
main section#D_F_GameSection #cp_flash {
    position: relative
    }
main section#D_F_GameSection #mp_client {
    position: absolute;
    top: 53px;
    left: 0
    }
main section#maintenance-message {
    min-height: 500px;
    background: url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/snowball/img/404.jpg) no-repeat;
    background-position: center
    }
main section#maintenance-message div.message {
    margin: 0 auto;
    padding: 100px 0 0 400px;
    max-width: 350px
    }
main section#maintenance-message div.message h1 {
    font-size: 50px;
    color: #22a4f3
    }
main section#maintenance-message div.message h2 {
    font-size: 18px;
    color: #0052af
    }
main section#maintenance-message div.message p {
    color: #7d9aaa
    }
main section#maintenance-message div.message .button-wrap {
    margin: 0;
    padding: 20px 0 0;
    overflow: hidden;
    background: transparent url(/web/20160725223621im_/http://clubpenguinimg-a.akamaihd.net/usr/share/drupal/sites/default/themes/snowball/img/bottom-fade.png) repeat-x 0 -30px
    }
main section#maintenance-message div.message .button-wrap a.type-play {
    position: relative;
    overflow: hidden;
    display: block;
    width: 242px;
    height: 64px;
    line-height: 64px;
    font-size: 30px;
    color: #6a4e27;
    text-align: center;
    letter-spacing: -0.03em;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9), 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-decoration: none;
    background: transparent url(http://web.archive.org/web/20160725223621im_/http://cpassets-a.akamaihd.net/sites/default/themes/snowball/img/button-play-bg.png) no-repeat 0 0
    }
main section#maintenance-message div.message .button-wrap a.type-play:hover {
    background-position: 0 -64px !important;
    top: 2px
    }
main section#maintenance-message div.message .button-wrap a.type-play span.b2 {
    margin: 0;
    padding: 0
    }
main section#billboards {
    position: relative;
    min-height: 500px;
    width: 980px;
    margin: 0 auto
    }
main section#billboards div#membership-buttons {
    position: absolute;
    top: 433px;
    right: 18px;
    width: 247px
    }
main section#billboards .membership-button {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    width: 250px;
    height: 50px;
    padding-left: 45px;
    text-align: center;
    line-height: 48px;
    color: #fff;
    background: url(../../images/button-membership.png) 0 0 no-repeat;
    box-sizing: border-box
    }
main section#billboards .membership-button:hover {
    background-position: 0 -50px;
    text-decoration: none
    }
main section#actions {
    position: relative;
    margin: 21px auto 0 auto;
    padding: 0;
    height: 100px;
    width: 980px;
    min-width: 980px;
    text-align: center;
    background: url(../../images/action-bg-tile.gif) repeat 0 0;
    border-radius: 5px;
    box-sizing: border-box
    }
main section#actions .cp-logo {
    padding-top: 15px
    }
main section#actions div {
    top: -40px;
    display: inline;
    width: 250px;
    height: 143px;
    padding-top: 62px;
    background-repeat: no-repeat
    }
main section#actions div#create {
    position: absolute;
    left: 0;
    padding-left: 115px;
    background: url(../../images/penguin-stencil.png) no-repeat 15px 10px;
    text-align: left
    }
main section#actions div#login {
    position: absolute;
    right: 0;
    padding-right: 115px;
    background: url(../../images/penguin-tourguide.png) no-repeat 228px 8px;
    text-align: right
    }
main section#actions a.action-button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 226px;
    height: 58px;
    line-height: 58px;
    font-size: 18px;
    text-align: center
    }
main section div#error span {
    display: block
    }
main section div#error img {
    display: inline
    }
.sunset_lang main section#actions {
    padding-right: 350px
    }
.sunset_lang main section#actions div#login {
    right: 185px
    }
body.affiliate main #D_F_GameSection {
    height: 84%
    }
body.affiliate.membershipBanner section#D_F_GameSection {
    height: 78%
    }
body.flash main, body.flashUpgrade main {
    height: 98%
    }
body.flash footer, body.flashUpgrade footer {
    margin-top: -25px
    }
body.membershipBanner section#D_F_GameSection {
    height: 88%
    }
body.affiliate.mplarge main section#D_F_GameSection, body.affiliate.mpsmall main section#D_F_GameSection {
    height: 90%
    }
body.affiliate.mplarge main section#D_F_GameSection #mp_client, body.affiliate.mpsmall main section#D_F_GameSection #mp_client {
    top: 108px
    }
body.affiliate.mpsmall footer {
    margin-top: 35% !important
    }
body.mplarge main {
    height: 90%
    }
body.mplarge footer {
    margin-top: 1% !important
    }
body.mpsmall main {
    height: 90%
    }
body.mpsmall footer {
    margin-top: 20% !important
    }
.D_F div {
    line-height: 1.2em
    }
footer {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 980px;
    padding-top: 25px;
    margin: 0 auto;
    font-size: 10px;
    text-align: center
    }
footer a {
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #fc0
    }
footer p#name {
    font-family: "proxima_nova_bold", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0
    }
footer p#footer-updated {
    display: inline
    }
footer p#footer-legal {
    margin: 0 165px;
    line-height: 14px
    }
.i18n-ru header nav ul li {
    margin-right: 8px
    }
.i18n-fr header #banner a {
    padding: 0 50px
    }
.i18n-fr main section#billboards .membership-button {
    letter-spacing: -0.03em
    }
.i18n-es header nav #language-select {
    right: 170px
    }
.i18n-es header #banner a {
    padding: 0 50px
    }
.i18n-ru header nav #language-select a, .i18n-ru header nav #language-select #bottom-languages {
    width: 160px
    }
.i18n-ru header nav #language-select a a:hover, .i18n-ru header nav #language-select #bottom-languages a:hover {
    width: 140px
    }
.i18n-ru main section#actions .cp-logo {
    padding-top: 22px
    }
/*
     FILE ARCHIVED ON 22:36:21 Jul 25, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:09:28 Nov 01, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 68.495 (3)
  esindex: 0.005
  captures_list: 99.301
  CDXLines.iter: 12.388 (3)
  PetaboxLoader3.datanode: 79.745 (5)
  exclusion.robots: 0.241
  exclusion.robots.policy: 0.233
  RedisCDXSource: 14.43
  PetaboxLoader3.resolve: 150.857 (2)
  load_resource: 190.366
*/
