<!DOCTYPE html PUBLIC "-//W3C//DTD HTML+RDFa 1.1//EN">
<html lang="en" dir="ltr" version="HTML+RDFa 1.1" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" xmlns:fb="http://ogp.me/ns/fb#" xmlns:article="http://ogp.me/ns/article#" xmlns:book="http://ogp.me/ns/book#" xmlns:profile="http://ogp.me/ns/profile#" xmlns:video="http://ogp.me/ns/video#">
  <head profile="http://www.w3.org/1999/xhtml/vocab"><script type="text/javascript" src="{{ url_for('static', filename='js/ait-client-rewrite.js') }}"></script>
    <script type="text/javascript">
    WB_wombat_Init('http://localhost');
    </script>
    <script type="text/javascript" src="/static/js/wbhack.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/banner-styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iconochive.css') }}" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='images/apple-touch-icon-114x114-precomposed.png') }}" rel="apple-touch-icon-precomposed" sizes="114x114"/>
    <link href="{{ url_for('static', filename='images/apple-touch-icon-144x144-precomposed.png') }}" rel="apple-touch-icon-precomposed" sizes="144x144"/>
    <link href="{{ url_for('static', filename='images/apple-touch-icon-120x120-precomposed.png') }}" rel="apple-touch-icon-precomposed" sizes="120x120"/>
    <link href="{{ url_for('static', filename='images/apple-touch-icon-72x72-precomposed.png') }}" rel="apple-touch-icon-precomposed" sizes="72x72"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/vnd.microsoft.icon"/>
    <link href="{{ url_for('static', filename='images/apple-touch-icon-precomposed.png') }}" rel="apple-touch-icon-precomposed"/>
    <link rel="shortlink" href="{{ url_for('home.index') }}"/>
    <meta property="og:site_name" content="Club Penguin"/>
    <meta property="og:type" content="website"/>
    <meta name="apple-itunes-app" content="app-id=505544063"/>
    <meta name="robots" content="index, follow"/>
    <title>Houdini | Account Dashboard</title>
    <meta name="description" content="Welcome to Club Penguin, a virtual world for kids guided by an unwavering commitment to safety and creativity"/>
    <link rel="alternate" type="application/rss+xml" title="Club Penguin - What's New" href=""/>
    <meta property="og:site_name" content="Club Penguin">
    <meta property="og:title" content="Club Penguin Home Page">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url_for('home.index') }}">
    <meta property="og:image" content="{{ url_for('static', filename='images/200x200.jpg') }}"/>
    <meta property="twitter:account_id" content="46604094"/>
    <meta name="yandex-verification" content="6e7590a14dd7640b"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="canonical" href="{{ url_for('home.index') }}">
    <link rel="alternate" href="{{ url_for('home.index') }}" hreflang="x-default"/>
    <link rel="alternate" href="{{ url_for('home.index') }}" hreflang="en"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fc_http/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css') }}" media="all"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fc_http/css_2RHzazT8E8VTVnGpZnC4mQCJxy34YNrqtJ2xL7b_1do.css') }}" media="all"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fc_http/css_n7aK8s-ciXhQyEYWNOJtISbWxtxQiQvnD-N_xWUtD5A.css') }}" media="all"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fc_http/css_5VZD3KFzwPNh-bfJ3I6HJUzGV-7kPOBmNtDhEVE1mWo.css') }}" media="all"/>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fc_http/css_1JbFEAZJTMBIeeFze4ncHnR25hs8-SJXaPp0yhwsVoU.css') }}" media="all"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fc_http/css_70WyFx0z9mQCHg4Xj-cea_LVbSXYKJyopqr6Yn3j9Ds.css') }}" media="all"/>

    <!--[if lte IE 9]>
    <link type="text/css" rel="stylesheet" href="http://clubpenguinimg-a.akamaihd.net/sites/default/files/fc_http/sites/default/themes/club_penguin/css/ie-lte-9.css?nzim0q" media="all" />
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fc_http/css_VN1VgXG0X96PzfQHnZq0apMWIdwFDxmv9Tq0YsezYCk.css') }}" media="all"/>
      <!--[if lt IE 9]><script src="http://clubpenguinimg-a.akamaihd.net/sites/default/files/fc_http/sites/default/themes/club_penguin/js/html5.js"></script><![endif]-->
  </head>

  <body class="html not-front not-logged-in page-company page-company-news-media page-company-news-media-club-penguin-qa q_and_a full-page-flow i18n-en context-company theme-club_penguin" style="background:url('../static/images/Evergreen-Background_6-1417729740_1.jpg') no-repeat scroll 50% 0px #e6e5ef">

    <style type="text/css">
      body {
        margin-top:0 !important;
        padding-top:0 !important;
        /*min-width:800px !important;*/
      }
      .wb-autocomplete-suggestions {
          text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
          position: absolute; display: none; z-index: 2147483647; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
      }
      .wb-autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
      .wb-autocomplete-suggestion b { font-weight: bold; }
      .wb-autocomplete-suggestion.selected { background: #f0f0f0; }
    </style>
    <div class="page clearfix" id="page">
      <header id="section-header" class="section section-header">

        <div id="zone-branding" class="zone zone-branding clearfix container-12">
          <div id="masthead">
            <div id="nav">
                <div itemscope itemtype="http://schema.org/Organization">
                    <a itemprop="logo" id="logo" href="{{ url_for('home.index') }}"></a>
                </div>
                <ul itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                    <li itemprop="name"><a itemprop="url" href="{{ url_for('home.index') }}" class="cpmenu">Home</a></li>
                    <li itemprop="name"><a itemprop="url" href="{{ url_for('community.community_index') }}" class="cpmenu">What's New</a></li>
                    <li itemprop="name"><a itemprop="url" href="#" class="cpmenu">Social</a></li>
                    <li itemprop="name"><a itemprop="url" href="{{ url_for('help.help_index') }}" class="cpmenu">Help</a></li>
                    <li itemprop="name"><a itemprop="url" href="{{ url_for('panel.panel_index') }}" class="cpmenu">Manage</a></li>
                </ul>
                <a href="{{ url_for('play.play_index') }}" id="play-now" class="play-now-v2 cp-button-play">Play Now!</a>
            </div><!--nav-->
          </div><!--masthead-->
        </div>
      </header>

      <section id="section-content" class="section section-content">

        <div class="oops-message message-2">
            <div class="oops-content">
                <h1>Uh oh!</h1>
                <h2>This page doesn't exist.</h2>
                <p>Head back to our home page or the previous page and continue your journey from there.</p>
                <a href="{{ url_for('home.index') }}">Go Home</a><a href="#" id="back" style="margin-left: 2px;">Go Back</a>
            </div>
        </div>


        <div id="zone-footer-wrapper" class="zone-wrapper zone-footer-wrapper clearfix">
          <div id="zone-footer" class="zone zone-footer clearfix container-12">
            <div id="footer" class="en">
                <span class="footer-puffle"></span>
                <div class="footer-top">
                    <div id="quicklinks">
                        <div id="quicklinks-title" class="footer-title">Quick Links</div>
                        <ul id="quicklinks-menu" class="footer-menu">
                            <li><a href="{{ url_for('home.index') }}" class="cpmenu">Home</a></li>
                            <li><a href="{{ url_for('help.help_index') }}" class="cpmenu">Help</a></li>
                            <li><a href="#" class="cpmenu">What's New</a></li>
                            <li><a href="#" class="cpmenu">Contact</a></li>

                        </ul>
                    </div>
                    <div id="company">
                        <div id="company-title" class="footer-title">CPPS</div>
                        <ul id="company-menu" class="footer-menu">
                            <li><a href="#">Discord</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#" class="cpmenu">Social</a></li>
                            <li><a href="{{ url_for('play.play_index') }}" class="cpmenu">Play</a></li>
                        </ul>
                    </div>
                    <div id="footer-buttons">
                        <a id="btn-activate-card" class="footer-btn btn-activate" href="{{ url_for('create.create_index') }}"><span>Create Account</span></a>
                        <a id="btn-parent-tools" class="footer-btn btn-parents" href="{{ url_for('panel.panel_index') }}"><span>Manage Account</span></a>
                        <a id="btn-unlock-items" class="footer-btn btn-unlock" href="{{ url_for('play.play_index') }}"><span>Unlock Items</span></a>
                    </div>
                    <div id="language-select">
                        <div>
                            <a class="top-level" href="#" tabindex="1">
                                <span class="icon"></span><br>
                                <span class="label-select">Language Select</span>
                                <div class="active-lang"><span>ENGLISH</span><span class="indicator"></span></div>
                            </a>
                            <div id="bottom-languages">
                                <a class="first" href="#">ENGLISH</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                  <div id="legal">
                      <div class="disclaimer">The backend code of this website was made by <a target="_blank" href="https://github.com/Twizzler/Houdini-Website">Kevin</a><br><br>
                    <div class="legal-links">
                      <a target="_blank" href="#">support@cpps.com</a>
                      <span>|</span> <a target="_blank" href="{{ url_for('home.index') }}">Terms of Use</a>
                      <span>|</span> <a target="_blank" href="{{ url_for('home.index') }}">Privacy Policy</a>
                      <span>|</span> <a target="_blank" href="{{ url_for('home.index') }}">Children's Online Privacy Policy</a>
                      <span>|</span> <a target="_blank" href="{{ url_for('home.index') }}">Example</a>
                    </div>
                    <div class="disclaimer">&copy; CPPS is an educational instance. We do not hold copyright for any of the files.</div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </section>
  </div>

  <script type="text/javascript">
    const randomClass = ['oops-message message-1', 'oops-message message-2',
                          'oops-message message-3', 'oops-message message-4'
                      ];
    const rand = Math.floor(Math.random() * 4);
    $('.oops-message').attr('class', randomClass[rand]);

    $('#back').on('click', function() {
        window.history.back();
    });
  </script>
  </body>
</html>
